# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Environment / secrets
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Data
data/raw/*
data/processed/*

# Vector database
vector_db/*

# Logs
*.log
